doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-size=1")
    title IIIII.iO
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="../css/style.css", <="", head="")
  body
    .jumbotron
      h1
        a(href="http://iiiii.io") iiiii.iO
        | : API Agency
      p &#54200;&#54616;&#44172; &#44545;&#50612;&#45796; &#50416;&#49464;&#50836;
    .container
      .row
        .col-xs-12
          .panel.panel-default
            .panel-body
              p
                kbd ctrl
                | /
                kbd command
                | +
                kbd F
                | &#47196; &#44160;&#49353;&#54616;&#49464;&#50836;!
      .row
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-heading
              h3.panel-title
                | &#53364;&#46972;&#51060;&#50616;&#53944; IP
                span.label.label-default TEXT
            .panel-body
              p IP &#51452;&#49548;&#47484; &#48152;&#54872;&#54633;&#45768;&#45796;.
              .well
                | GET iiiii.io/api/ip
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-heading
              h3.panel-title
                | &#50896;&#51452;&#50984;
                span.label.label-default TEXT
            .panel-body
              p &#49548;&#49707;&#51216; &#50500;&#47000; @&#51704; &#51088;&#47532; &#44620;&#51648;&#47484; &#48152;&#54872;&#54633;&#45768;&#45796;.
              .well
                | GET iiiii.io/api/pi/?d=@
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-heading
              h3.panel-title
                | whois
                span.label.label-default JSON
            .panel-body
              p &#46020;&#47700;&#51064; @&#51032; whois &#51221;&#48372;&#47484; &#48152;&#54872;&#54633;&#45768;&#45796;.
              .well
                | GET iiiii.io/api/whois/?d=@
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-heading
              h3.panel-title
                | MD5 &#54644;&#49772;
                span.label.label-default TEXT
            .panel-body
              p &#47928;&#51088;&#50676; @&#47484; MD5 &#50508;&#44256;&#47532;&#51608;&#51004;&#47196; &#54644;&#49772;&#54868; &#54633;&#45768;&#45796;.
              .well
                | GET iiiii.io/api/md5/?s=@
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-heading
              h3.panel-title
                | &#47004;&#45924; &#45800;&#50612;
                span.label.label-default TEXT
            .panel-body
              p &#51076;&#51032;&#51032; &#50689;&#50612;&#45800;&#50612;&#47484; &#48152;&#54872;&#54633;&#45768;&#45796;.
              .well
                | GET iiiii.io/api/word
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-heading
              h3.panel-title
                | ???
                span.label.label-danger YET
            .panel-body
              p &#44228;&#49549; &#52628;&#44032; &#50696;&#51221;!
              .well
                | iiiii.io/api/???
    // 
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
